html {
  font-size: calc(100vw / 375 * 10);
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.container {
  width: 100%;
  height: 40rem;
  margin-top: 15rem;
  position: relative;
}

.container:last-child {
  margin-bottom: 15rem;
}

.container:nth-child(1) {
  background-color: red;
}

.container:nth-child(2) {
  background-color: purple;
}

.container:nth-child(3) {
  background-color: green;
}

.container:nth-child(4) {
  background-color: violet;
}

.box {
  width: 100px;
  position: relative;
  background: black;
}

.box::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.box[data-box="floating"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 767px) {
  html {
    font-size: calc(100vw / 1920 * 10);
  }

  .wrapper {
    width: 100rem;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}
