@font-face {
  font-family: 'opensans';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/openSans800.woff2') format('woff2');
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/openSans400.woff') format('woff');
}
